.drop-course {
  position: absolute;
  height: 130px;
  width: 750/4px;
  background-color: #eeeeee; }
  .drop-course ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
