.color-green {
  color: green; }

.color-orange {
  color: orange; }

.color-red {
  color: red; }

.bgc-active {
  background-color: #d8fcff;
  border: 1px solid #23e5ff;
  -webkit-box-shadow: 0 0 5px #a9f5ff;
  box-shadow: 0 0 5px #a9f5ff; }
