.first {
    display: none;

    .dataInput {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 100%;

        &__student {
            display: flex;
            flex-flow: row wrap;
        }

        &__initials {
            display: flex;
            flex-flow: column wrap;
            width: 50%;
            padding: 20px 0 70px 180px;
        }

        &__studentInfo {
            display: flex;
            flex-flow: column wrap;
            padding: 20px 0 20px 90px;
        }

        &__university {
            input {
                width: 120px;
                height: 45px;
                border: 1px solid rgba(169, 169, 169, 0.844);
                border-radius: 5px;
                padding: 0 0 0 15px;
            }

            display: flex;
            flex-flow: row nowrap;
            margin: 42px 0 0 0;

            label {
                position: absolute;
                font-size: 1rem;
                color: rgba(111, 111, 111, 0.912);
                top: -24px;
                left: 0px;
            }

            &-course {
                position: relative;
                margin: 0 20px 0 0;
            }

            &-fac {
                position: relative;
                input {
                    width: 160px;
                }
            }
        }
    }



    .discipline {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        margin: -15px 0 0 0;

        input {
            width: 120px;
            height: 45px;
            border: 1px solid rgba(169, 169, 169, 0.844);
            border-radius: 5px;
            padding: 0 0 0 15px;
        }

        &__date {
            input {
                width: 200px;
            }
        }

        &__control {
            position: relative;

            label {
                position: absolute;
                font-size: 1rem;
                color: rgba(111, 111, 111, 0.912);
                top: -24px;
                left: 0px;
            }
        }

        &__edit {
            display: flex;
            flex-flow: row nowrap;

            &-add,
            &-remove {
                width: 45px;
                height: 45px;
                border: 1px solid rgba(169, 169, 169, 0.844);
                border-radius: 5px;
                text-align: center;
                position: relative;
                background-color: white;
                font-size: 2rem;
                line-height: 45px;
                cursor: pointer;
            }

            &-add {
                border: 1px solid rgb(0, 170, 0);
                margin-right: 10px;

                &:hover {
                    background-color: rgb(220, 255, 220);
                }
            }

            &-remove {
                border: 1px solid rgb(255, 20, 20);

                &:hover {
                    background-color: rgb(255, 209, 209);
                }
            }
        }
    }
}