.first {
    display: none;
    .dataInput {
        display: flex;
        flex-flow: column wrap;

        &__student {
            display: flex;
            flex-flow: row wrap;
        }

        &__initials {
            display: flex;
            flex-flow: column wrap;
            width: 50%;
            padding: 20px 0 70px 180px;
        }

        &__studentInfo {
            display: flex;
            flex-flow: column wrap;
            padding: 20px 0 20px 90px;
        }

        &__university {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 290px;
            margin: 42px 0 0 0;
            font-size: 1.2rem;
            color: rgb(92, 92, 92);

            &-course,
            &-fac {
                width: 110px;
                height: 45px;
                border: 1px solid rgba(169, 169, 169, 0.844);
                border-radius: 12px;
                text-align: center;
                position: relative;
                background-color: white;
                cursor: pointer;

                &::after {
                    content: '➤';
                    display: block;
                    position: absolute;
                    transform: scale(.7) rotateZ(90deg);
                    top: 33%;
                    right: 5%;
                }

                &:hover {
                    background-color: rgba(208, 208, 208, 0.645);
                }
            }

            &-course {
                padding: 11px 2px 0 0;
            }

            &-fac {
                width: 160px;
                padding: 11px 3px 0 0;
            }

            .drop-course,
            .drop-faculty {
                display: none;
                position: absolute;
                height: auto;
                width: 120px;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgba(169, 169, 169, 0.844);
                z-index: 100;
                top: 110%;
                box-shadow: 0 11px 20px rgb(145, 145, 145);

                ul {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    height: 100%;

                    li {
                        padding: 8px 0;
                        height: 30%;
                        border-bottom: 1px solid rgba(169, 169, 169, 0.844);

                        &:last-of-type {
                            border-bottom: none;
                        }

                        &:hover {
                            background-color: rgba(208, 208, 208, 0.645);
                        }
                    }
                }
            }

            .drop-faculty {
                width: 180px;
                height: auto;
            }
        }

    }

    .discipline {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        margin: -15px 0 0 0;

        input {
            width: 120px;
            height: 45px;
            border: 1px solid rgba(169, 169, 169, 0.844);
            border-radius: 5px;
            font-size: 1.3rem;
            padding: 0 0 0 15px;
        }

        &__date {
            input {
                width: 200px;
            }
        }

        &__control {
            width: 124px;
            height: 45px;
            border: 1px solid rgba(169, 169, 169, 0.844);
            border-radius: 5px;
            text-align: center;
            padding: 13px 7px 0 0;
            position: relative;
            background-color: white;
            cursor: pointer;

            &::after {
                content: '➤';
                font-size: 1.2rem;
                display: block;
                position: absolute;
                transform: scale(.8) rotateZ(90deg);
                top: 35%;
                right: 7%;
            }

            .default {
                position: absolute;
                top: -24px;
                font-size: 1rem;
                left: 0;
            }

            p {
                font-size: 1.1rem;
                padding-top: 1px;
            }


            &:hover {
                background-color: rgba(208, 208, 208, 0.645)
            }

            .drop-control {
                display: none;
                position: absolute;
                height: auto;
                width: 120px;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgba(169, 169, 169, 0.844);
                z-index: 100;
                top: 110%;
                font-size: 1.2rem;
                box-shadow: 0 11px 20px rgb(145, 145, 145);

                ul {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    height: 100%;

                    li {
                        padding: 8px 0;
                        height: 30%;
                        border-bottom: 1px solid rgba(169, 169, 169, 0.844);

                        &:last-of-type {
                            border-bottom: none;
                        }

                        &:hover {
                            background-color: rgba(208, 208, 208, 0.645);
                        }
                    }
                }
            }
        }

        &__edit {
            display: flex;
            flex-flow: row nowrap;

            &-add,
            &-remove {
                width: 45px;
                height: 45px;
                border: 1px solid rgba(169, 169, 169, 0.844);
                border-radius: 5px;
                text-align: center;
                position: relative;
                background-color: white;
                font-size: 2rem;
                line-height: 45px;
                cursor: pointer;
            }

            &-add {
                border: 1px solid rgb(0, 170, 0);
                margin-right: 10px;

                &:hover {
                    background-color: rgb(220, 255, 220);
                }
            }

            &-remove {
                border: 1px solid rgb(255, 20, 20);

                &:hover {
                    background-color: rgb(255, 209, 209);
                }
            }
        }
    }
}