.menu {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex; //для ul, иначе все поднимется
    width: 700px;
    max-width: 700px;
    height: 60px;
    margin: 0 auto 30px auto;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;

    ul {
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
    }

    li {
        font-size: 1.3rem;
        border-right: none;
        flex-grow: 1;
        text-align: center;
        line-height: 60px;
        color: rgba(111, 111, 111, 0.912);
        cursor: pointer;

        &:hover {
            background-color: rgba(208, 208, 208, 0.844);
        }
    }
}