header {
    width: 100%;
    height: 60px;
    background-color: rgb(18, 18, 199);
    font-family: 'Roboto', sans-serif;
}

header .container {
    max-width: 1440px;
    padding: 0 40px 0 35px;
    display: flex;
    justify-content: space-between;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.494);
}

.log__out {
    height: 100%;
    width: auto;
    padding: 0 10px;
    color: white;
    font-size: 18px;
    line-height: 60px;
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.log__out:hover {
    background-color:  rgb(18, 18, 199);
    box-shadow: inset 0 0px 12px rgba(0, 0, 0, 0.535);  
    color: rgb(255, 255, 173);
}

.personal {
    display: flex;
}

.personal__initials {
    margin: 0 15px 0 0;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0.4px;
}

.personal__photo {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 10px 0 0 0;
    border-radius: 50%;
    transition: all 0.15s ease-in;
    overflow: hidden;
    cursor: pointer;
}

.personal__photo:hover {
    transform: scale(1.1);
}

.personal__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.admin {
    position: relative;
    margin: 0 20px 0 0;
}

.admin__trig {
    width: 60px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.admin__trig:hover {
    background-color:  rgb(18, 18, 199);
    box-shadow: inset 0 0px 12px rgba(0, 0, 0, 0.535);  
    color: rgb(255, 255, 173);
}

.admin__setts {
    position: absolute;
    right: 0;
    background-color:white;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s ease-in;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.446);
}

.admin__setts li {
    min-width: 250px;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.admin__setts li:hover {
    background-color:rgba(0, 0, 0, 0.131);
}

.admin__setts li:active {
    background-color:rgba(0, 0, 0, 0.227);
}


