@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(0, 118, 172);
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: rgb(56, 53, 58);
  }

.content {
    margin: 10px 0 0 0;
    padding: 0 20px 35px 0;
    min-height: 83%;
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}

.main {
    width: 1050px;
    min-height: 560px;
    box-shadow: 2px 5px 10px rgba(53, 53, 53, 0.529);
    padding: 20px;
    overflow-x: auto;
    transition: all 0.3s ease-out 0s;
    background-color: rgb(248, 248, 248);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.title {
    font-size: 30px;
    font-weight: 500;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: black;
}

.faculties__list li {
    position: relative;
    padding: 15px 0 15px 15px;
    font-size: 22px;
}

.faculties__list li:before {
    content: '›';
    position: absolute;
    left: 3px;
}

table {
    width: 100%;
    background-color: rgb(244, 244, 244);
    border-collapse: collapse; 
}

th {
    padding: 12px 10px;
    font-size: 20px; 
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 138, 202);
    color: white;
    font-weight: normal;
    text-shadow: 0 0 1px black;
}
td {
    font-size: 18px;
    padding: 10px 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}

[for="stud__fio"] {
    width: 32%;
    min-width: 32%;
}

#students td {
    padding: 5px 12px;
}

[data-to="study-plan"], [data-to="show-in-window"] {
    text-decoration: underline;
    cursor: pointer;
}

.ch__img {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0;
    cursor: pointer;
}

.ch__img img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


.change__info_form {
    display: flex;
    flex-flow: column;
}

.change__info_form input {
    width: 400px;
    border-bottom: 1px solid black;
    padding: 0 0 1px 4px;
    font-size: 18px;
    margin: 5px 0 15px 0;
}

.change__info_form select {
    width: 100px;
    font-size: 17px;
    padding: 2px 2px;
    margin: 5px 0;
    border: 1px solid black; 
}

.change__info_form button {
    width: 100px;
    height: 30px;
    margin: 10px 0 0 0;
    background-color: rgb(68, 240, 45);
    box-shadow: 0 0 10px rgba(68, 240, 45, 0.481);
    font-size: 18px;
    line-height: 30px;
    color: white;
    text-align: center;
}

.change__info_form button:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.481);
}

.groups__btn {
    background-color: transparent;
    font-size: 17px;
    color: rgba(0,0,0,0.8);
    transition: all 0.15s;
}

.groups__btn:hover {
    color: black;
    border-bottom: 1px solid black;
}

.filters {
    display: flex;
    justify-content: space-between;
    color: rgb(230, 230, 230);
}

.filters__set {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    padding: 10px 0;
    font-size: 18px;
    background-color: rgba(35, 40, 45, 0.837);
    transition: 0.2s all;
    cursor: pointer;
}

.filters__choose {
    width: 87%;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    background-color: rgba(35, 40, 45, 0.837);
}

.filters__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 0 12px;
}

.filters__btns > div {
    display: flex;
    align-items: center;
}

.filters__btns > div span {
    margin: 0 4px 0 0;
}

.filters__hide, .filters__reset {
    display: flex;
    align-items: center;
    padding: 0 7px;
    cursor: pointer;
}

.filters__btn:active {
    color: rgb(0, 147, 214);
}

.filters__btn:hover {
    background-color: rgb(0, 115, 170);
    color: white;
}

#filt__bytext {
    width: 35%;
    height: 75%;
    font-size: 15px;
    padding: 0 6px;
}

#filt__bytext:focus {
    border: 1px solid rgb(0, 115, 170);
}

.radio {
    display: none;
}

.radio + label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid black;    
    text-align: center;    
    cursor: pointer;
}

.radio:checked + label:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: rgb(0, 115, 170);
    margin: 2px 0 0 2px;
}

.ved__btn {
    background-color: rgba(35, 40, 45, 0.837);
    color: white;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.ved__btn:nth-of-type(2) {
    margin: 15px 0 0 0;
}

.ved__btn:hover {
    background-color: rgb(0, 115, 170);
    color: white;
}

.create__ved {
    display: flex;
    align-items: center;
}

.create__ved label {
    font-size: 18px;
}

#find__stud {
    width: 300px;
    height: 38px;
    padding: 2px 0 0 7px;
    margin: 0 0 0 10px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid rgba(35, 40, 45, 0.837);
}

.find__search {
    display: inline-block;
    position: relative;
    width: 38px;
    height: 38px;
    overflow: hidden;
    border: 1px solid rgba(35, 40, 45, 0.837);
    border-left: none;
}

.find__search img {
    position: absolute;
    object-fit: cover;
    transform: scale(0.6)
}

.ved__table h2 {
    margin: 35px 0 0 7px;
}

[data-id="create__ved"] {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

[data-id="create__ved"]:hover {
    background-color:  rgb(194, 194, 194);
}

[data-id="create__ved"]:active {
    background-color:  rgb(194, 194, 194);
    color: rgb(0, 115, 170);
}

.ved__add-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 10px 0 0 0;
}

.ved__template h2 {
    margin: 20px 0 0 7px;
}

.ved__add-row input {
    height: 35px;
    padding: 2px 0 0 5px;
    margin: 15px 0 15px 0;
    font-size: 17px;
    background-color: transparent;
    border-bottom: 1px solid rgba(35, 40, 45, 0.837);
}

.ved__add-row input:focus {
    border-bottom: 1px solid rgb(0, 115, 170);
}

[data-to="ved-subject"] {
    width: 12%;   
}

[data-to="ved-teacher"] {
    width: 22%;
}

[data-to="ved-hours"] {
    width: 6%;
}

[data-to="ved-control"] {
    width: 10%;
}

[data-to="ved-mark"] {
    width: 8%;
}

[data-to="ved-date"] {
    width: 10%;
}

.btn {
    width: 10%;
    background-color: rgba(35, 40, 45, 0.837);
    color: rgb(228, 228, 228);
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 115, 170);
    color: white;
}

.choose__sem {
    margin: 0 0 12px 4px;
    padding: 0 0 0 7px;
    width: 100px;
    height: 30px;
    background-color: rgba(35, 40, 45, 0.837);
    color: rgb(228, 228, 228);
}

.ved__table {
    margin: 18px 0 0 0;
}

.ved__table-form button {
    float: right;
    margin: 10px 0 0 0;
}

.mypage__title {
    font-weight: 400;
    font-size: 18px;
    padding: 0 0 18px;
}

.mypage__title span {
    padding: 0 0 0 5px;
}

.sem__choose {
    padding: 7px 5px;
    color: white;
    max-width: 50%;
    flex-flow: row;
}

.sem__choose .mypage__title {
    padding: 0 0 2px 0;
}

.sem__choose > li {
    display: flex;
    align-items: center;
}

.sem__choose > li span {
    padding: 0 4px 0 0;
}

