
.mypage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.426);
    transition: all 0.5s ease-in-out 0s;
    transform: translate(100%);
}

.mypage__dialog {
    min-width: 550px;
    min-height: 400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease-in-out 0s;
    transform-origin: right bottom;
    transform: rotate3d(250, -130, 50, 90deg);
    opacity: 0;
}

.mypage__photo {
    width: 170px;
    height: 170px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.mypage__photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mypage__initals {
    margin: 20px 45px 20px 0px;
}

.mypage__initals p {
    font-size: 22px;
    padding: 8px 0;
}

.mypage__group {
    margin: 15px 0 0 0;
}

.mypage__buttons {
    margin: 20px 0 20px 25px;
}

#change__photo {
    margin: 10px 0 0 0;
}

.table {
    width: 100%;
    margin: 15px 0 0 0;
}
@keyframes page {
    0% {
        transform: rotate3d(250, -130, 50, 90deg);
        opacity: 0;
    }
    100% {
        transform: rotate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes page_bg {
    0% {
        transform: translate(100%);
    }
    100% {
        transform: translate(0%);
    }
}
