.aside {
    position: relative;
    width: 250px;
    height: 560px;
    background-color: rgb(18, 18, 199);
    transition: all 0.3s ease-out 0s;
}

.aside__list {
    list-style: none;
    padding: 15px 0 0 0;
    transition: all 0.1s ease-out 0s;
}

.aside__list li {
    display: block;
    width: 100%;
    color: white;
    padding: 18px 0 18px 17px;
    font-size: 20px;
    transition: background-color, box-shadow, color, padding-left 0.2s ease-out;
    cursor: pointer;
}

.aside__list li:hover {
    background-color:  rgb(18, 18, 199);
    box-shadow: inset 0 0px 12px rgba(0, 0, 0, 0.535);  
    color: rgb(255, 255, 124);
    padding-left: 40px;
}

.show__aside {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotate(180deg);
    background-color: white;
    box-shadow: inset 0 0 3px 1px rgb(64, 220, 255);
    color: black;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    transition: all 0.2s ease-in 0s;
    cursor: pointer;
}

.show__aside:hover {
    transform: translate(50%, -50%) scale(1.1) rotate(-180deg);
    box-shadow: inset 0 0 20px 20px rgb(35, 193, 228), -3px 0 15px rgba(0, 0, 0, 0.631);
    color: white;
}

.show__aside:active {
    transition: all 0s ease-in 0s;
    box-shadow: inset 0 0 20px 20px black, -3px 0 15px rgba(0, 0, 0, 0.631);
}